#educacionTitulo,
#educacionCentroEducativo,
#educacionPeriodo,
#educacionDescripcion{
    margin-bottom: 0.2rem;
}

.card-body{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.col-1.text-center{
    margin-top: 0.5rem;
}