<section id="educacion" class="rounded">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-12">
                <h3 style="padding-top: 1rem;">Educación</h3>
            </div>
        </div>

        <div class="card mb-3">
            <div id="bordeTarjetas" *ngFor="let estudio of estudios" class="row g-0">
                <div class="col-1 text-center">
                    <img [src]="estudio.logoCentroEducativo" class="img-fluid rounded-start" width="50px"
                        alt="...">
                </div>
                <div class="col-10">
                    <div class="card-body" style="padding: 0;">
                        <h5 id="educacionTitulo" class="card-title">{{estudio.titulo}}</h5>
                        <p id="educacionCentroEducativo" >{{estudio.centroEducativo}}</p>
                        <p id="educacionPeriodo" class="card-text"><small class="text-muted">{{estudio.periodo}}</small></p>
                        <p id="educacionDescripcion" class="card-text">{{estudio.descripcion}}</p>
                    </div>
                </div>

                <div class="col-1 text-end">

                </div>
            </div>
        </div>
    </div>
</section>