<div class="modal fade" id="agregarNuevaExperienciaModal" tabindex="-1"
aria-labelledby="agregarNuevaExperienciaModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="agregarNuevaExperienciaModalLabel">Añadir
                Experiencia Laboral</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <div class="mb-3">
                <h5 style="text-align:left" class="form-label">Cargo:</h5>
                <input class="form-control" type="text" id="formText">
            </div>
            <div class="mb-3">
                <h5 style="text-align:left" class="form-label">Empresa:</h5>
                <input class="form-control" type="text" id="formText">
            </div>
            <div class="mb-3">
                <h5 style="text-align:left" class="form-label">Período:</h5>
                <input class="form-control" type="text" id="formText">
            </div>
            <div class="mb-3">
                <h5 style="text-align:left" class="form-label">Logo de la Empresa:</h5>
                <input class="form-control" type="file" id="formFile">
            </div>
            <div class="mb-3">
                <h5 style="text-align:left" class="form-label">Descripción:</h5>
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</div>
</div>