<section id="inicio">
    <div class="contenido">
        <header>
            <div class="contenido-header">
              <app-logo-arg-prog>
              </app-logo-arg-prog>
              
              <div class="logosNavegacion">
                <app-redes>
                </app-redes>
                <!-- Button trigger modal -->
                <i class="fa-solid fa-user-lock fa-2xl" id="logoIniciarSesion" type="button" data-bs-toggle="modal" data-bs-target="#userLockModal">  
                </i>
                <!-- Modal -->
                <app-modal-inicio-sesion>
                </app-modal-inicio-sesion>
              </div>
            </div>
        </header>
    </div>
</section>