<div class="modal fade" id="editarHabilidadModal" tabindex="-1"
aria-labelledby="editarHabilidadModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="editarHabilidadModalLabel">Editar Habilidad</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <div class="mb-3">
                <h5 style="text-align:left" class="form-label">Habilidad:</h5>
                <input class="form-control" type="text" id="formText">
            </div>
            <div class="mb-3">
                <h5 style="text-align:left" class="form-label">Porcentaje:</h5>
                <input class="form-control" type="text" id="formText">
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</div>
</div>