<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="userLockModal" tabindex="-1" aria-labelledby="userLockModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userLockModalLabel">Login</h5>
          <button id="botonCerrarModalSesion" type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
        </div>
    
        <form [formGroup]="form"  (ngSubmit)="onLogin($event)" novalidate>
        <div class="modal-body">
          <div class="mb-3 row">
            <label for="nombreUsuario" class="col-sm-2 col-form-label">Usuario</label>
            <div class="col-sm-10">
              <input type="text" formControlName="nombreUsuario" class="form-control" id="nombreUsuario"
              [(ngModel)]="nombreUsuario" required />
            </div>
          </div>
          <div *ngIf="NombreUsuario?.errors  && NombreUsuario?.touched">    
            <p *ngIf="NombreUsuario?.hasError('required')" class="alert alert-danger">
                El usuario es requerido.
            </p>
        </div>
          <div class="mb-3 row">
            <label for="password" class="col-sm-2 col-form-label">Contraseña</label>
            <div class="col-sm-10">
              <input type="password" formControlName="password" class="form-control" id="password"
              [(ngModel)]="password" required />
            </div>
          </div> 
          <div *ngIf="Password?.errors  && Password?.touched">
            <p *ngIf="Password?.hasError('required')" class="alert alert-danger">
              La contraseña es requerida.
            </p>

          </div>

          <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">¿Olvidó la contraseña?</a></p> -->

          <div>
            <p class="mb-0">¿No tienes una cuenta? <a href="#!" class="text-black-50 fw-bold">Crear usuario</a>
            </p>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit"  id="botonInicioSesion" class="btn btn-primary">
            <a style="color: #ffffff; text-decoration: none;"> Iniciar sesión</a>
          </button>
        </div>
      </form>
      </div>

    </div>
    </div>