<div class="modal fade" id="bannerModal" tabindex="-1" aria-labelledby="bannerModalLabel"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="bannerModalLabel">Editar Banner</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <div class="mb-3">
                <h5 class="form-label">Seleccione una imagen:</h5>
                <input class="form-control" type="file" id="formFile">
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </div>
    </div>
</div>
</div>