<section id="about-me" class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 text-center" style="margin-top:-3rem; position:relative;min-width:90px;">
                <img [src]="sobreMi.fotoPerfil"
                    class="img-fluid rounded-circle border" width="100%" alt="fabiola lutrario"
                    title="...">
            </div>

            <div class="col-10 mt-3">
                <h2 id="text-about-me">{{sobreMi.nombre}}
                </h2>

                <h4>{{sobreMi.titulo}}
                </h4>
            </div>
        </div>
    </div>
</section>
