<section id="idiomas" class="rounded">
    <div class="container-fluid">

        <div class="row g-0">
            <div class="col-12">
                <h3 style="padding-top: 1rem;">Idiomas</h3>
            </div>

        </div>

        <div class="card mb-3">
            <div *ngFor="let idioma of idiomas" id="idioma" class="row g-0">
                <div class="col-11">
                    <div class="card-body" style="padding: 0;">
                        <h5 class="card-title">{{idioma.idioma}}</h5>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"
                            [style.width.%]="idioma.porcentaje" aria-valuenow="idioma.porcentaje" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1 text-end">

                </div>
            </div>
        </div>
    </div>
</section>