<div class="modal fade" id="agregarProyectoModal" tabindex="-1"
aria-labelledby="agregarProyectoModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="agregarProyectoModalLabel">Añadir Proyecto</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <h5 style="text-align:left" class="form-label">Nombre:</h5>
                <input class="form-control" type="text" id="formText">
            </div>
            <div class="mb-3">
                <h5 style="text-align:left" class="form-label">Fecha de realización:</h5>
                <input class="form-control" type="text" id="formText">
            </div>
            <div class="mb-3">
                <h5 style="text-align:left" class="form-label">Logo del Proyecto:</h5>
                <input class="form-control" type="file" id="formFile">
            </div>
            <div class="mb-3">
                <h5 style="text-align:left" class="form-label">Descripción:</h5>
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
            <div class="mb-3">
                <h5 style="text-align:left" class="form-label">Link:</h5>
                <input class="form-control" type="text" id="formText">
            </div>
            <div class="mb-3">
                <h5 style="text-align:left" class="form-label">Imágenes del Proyecto:</h5>
                <input class="form-control" type="file" id="formFileMultiple" multiple>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</div>
</div>