<section id="idiomas" class="rounded">
    <div class="container-fluid">

        <div class="row g-0">
            <div class="col-11">
                <h3 style="padding-top: 1rem;">Idiomas</h3>
            </div>
            <div class="col-1 text-end" style="padding-top: 1rem; padding-right: 1rem;">
                
                <!-- Button trigger modal -->
                <button type="button" id="botonAgregarIdioma"
                data-bs-toggle="modal" data-bs-target="#agregarIdiomaModal"
                    class="btn btn-success rounded-circle btn-sm"><i class="fa-solid fa-plus">
                    </i>
                </button>
                
                <!-- Modal -->
                <app-modal-agregar-idioma>
                </app-modal-agregar-idioma>

            </div>
        </div>

        <div class="card mb-3">
            <div *ngFor="let idioma of idiomas" id="idioma" class="row g-0">
                <div class="col-11">
                    <div class="card-body" style="padding: 0;">
                        <h5 class="card-title">{{idioma.idioma}}</h5>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" aria-label="Info example"
                            [style.width.%]="idioma.porcentaje" aria-valuenow="idioma.porcentaje" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1 text-end">

                    <!-- Button trigger modal -->
                    <button type="button" id="botonEditarIdioma"
                    data-bs-toggle="modal" data-bs-target="#editarIdiomaModal"
                        class="btn btn-success rounded-circle btn-sm"><i class="fa-solid fa-pen">
                        </i>
                    </button>

                    <!-- Modal -->
                    <app-modal-editar-idioma>
                    </app-modal-editar-idioma>

                    <!-- Button trigger modal -->
                    <button type="button" id="botonEliminarIdioma"
                    data-bs-toggle="modal" data-bs-target="#eliminarIdiomaModal"
                        class="btn btn-success rounded-circle btn-sm"><i class="fa-solid fa-trash-can">
                        </i>
                    </button>

                    <!-- Modal -->
                    <app-modal-eliminar-idioma>
                    </app-modal-eliminar-idioma>
                    
                </div>
            </div>
        </div>
    </div>
</section>