<div class="modal fade" id="nombreModal" tabindex="-1" aria-labelledby="nombreModalLabel"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="nombreModalLabel">Editar Nombre y Apellido</h4>
            <button type="button" style="width:5px; height: 5px;" class="btn-close"
                data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <div class="mb-3">
                <h5 class="form-label">Nombre y Apellido:</h5>
                <input class="form-control" type="text" id="formText">
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</div>
</div>