<section id="about-me" class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 text-center" style="margin-top:-3rem; position:relative;min-width:90px;">

                <!-- Button trigger modal -->
                <button id="botonFotoPerfil" type="button" data-bs-toggle="modal" data-bs-target="#fotoPerfilModal"
                    style="position:absolute; top:70%; left:70%;" class="btn btn-success rounded-circle btn-sm">
                    <i class="fa-solid fa-pen">
                    </i>
                </button>

                <!-- Modal -->
                <app-modal-editar-foto-perfil>
                </app-modal-editar-foto-perfil>

                <img [src]="sobreMi.fotoPerfil"
                    class="img-fluid rounded-circle border" width="100%" alt="fabiola lutrario"
                    title="...">
            </div>

            <div class="col-10 mt-3">
                <h2 id="text-about-me">{{sobreMi.nombre}}

                    <!-- Button trigger modal -->
                    <button type="button" id="botonNombreyApellido" data-bs-toggle="modal" data-bs-target="#nombreModal"
                        style="position:absolute; right: 3rem;" class="btn btn-success rounded-circle btn-sm"><i
                            class="fa-solid fa-pen">
                        </i>
                    </button>

                    <!-- Modal -->
                    <app-modal-editar-nombre-y-apellido>
                    </app-modal-editar-nombre-y-apellido>

                </h2>

                <h4>{{sobreMi.titulo}}

                    <!-- Button trigger modal -->
                    <button id="botonTitulo" type="button" data-bs-toggle="modal" data-bs-target="#acercaDeMiModal"
                        style="position:absolute; right: 3rem;" class="btn btn-success rounded-circle btn-sm"><i
                            class="fa-solid fa-pen">
                        </i>
                    </button>

                    <!-- Modal -->
                    <app-modal-editar-titulo>
                    </app-modal-editar-titulo>
                    
                </h4>
            </div>
        </div>
    </div>
</section>
